* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
  font-family: 'Fredoka One', sans-serif;
  background-color: #8f281b;
background-image: url("https://www.transparenttextures.com/patterns/robots.png");
}
